@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    height: 100%;
    padding-bottom: 2em;
}

.header {
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: rgba(0, 47, 47, 0.5);
    color: #FFF;
}

h1, h2, h3 {
    font-weight: 300;
}

h2 {
    font=size: 18px;
    color: #002F2F;
    border-left: #002F2F solid 2px;
    padding-left: 0.25em;
}

h3 {
    color: #046380;
}

h4 {
    color: #468966;
}

.validation-error {
    color: #dd1531;
    font-size: 1em;
}

.container-fluid {
    padding-bottom: 1em;
}

.container-fluid:nth-child(2n) {
    background-color: #EFEFEF;
}

.ctrl-row-input {
    width: 25%;
    height: 75%;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
