<div class="col-xs-3 text-center">
    <h3>Quadrant {{$id - 2}}</h3>
    <label class="radio-inline"><input type="radio" name="q-info-{{$id}}" value="enabled" ng-model="quads[$id - 3].enabled">Enabled</label>
    <label class="radio-inline"><input type="radio" name="q-info-{{$id}}" value="disabled" ng-model="quads[$id - 3].enabled">Disabled</label>
    <input type="number" min=1 max=10 name="" placeholder="#" size="2" class="form-control ctrl-row-input" ng-disabled="quads[$id-3].enabled == 'disabled'" ng-model="quads[$id - 3].ctrlRows">
</div>
